

<mat-card>
    <mat-card-content>
        <ng-template [ngIf]="geocoderFlag">
            <form [formGroup]="markerForm">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="time"
                        [min]="minDate" [max]="maxDate" [disabled]="disabled">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                        [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                        [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
                        [disableMinute]="disableMinute" [hideTime]="hideTime">
                    </ngx-mat-datetime-picker>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="address">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
                <!-- <mat-form-field>
                    <input matInput placeholder="Longitude" formControlName="longitude">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Lattitude" formControlName="lattitude">
                </mat-form-field> -->
                <mat-card-actions>
                    <button [disabled]="!markerForm.valid" (click)="addMarker()" mat-button color="primary">Publish Broadcast</button>
                </mat-card-actions>
                    <button (click)="this.data.changeGeocoderFlag(false)" mat-button color="warn">Cancel</button>
            </form>
        </ng-template>
        <ng-template [ngIf]="!geocoderFlag">
            <p style="text-align: center;">Search a Location to Add to a Broadcast.</p>
        </ng-template>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content> 
        <div *ngIf="markerBroadcasts as broadcasts">
            <ng-template [ngIf]="(broadcasts | json) == ([] | json)">
                <p style="text-align: center;">No Broadcasts to Show.</p>
            </ng-template>
            <ng-template [ngIf]="(broadcasts | json) != ([] | json)">
                <!-- <mat-selection-list #collectionList [(ngModel)]="selectedBroadcasts" (ngModelChange)="changeSelectedBroadcasts()">
                    <mat-list-option *ngFor="let name of broadcasts" [value]="name.broadcastName">
                        {{name.broadcastName}}
                    </mat-list-option>
                </mat-selection-list> -->
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event); changeSelectedBroadcasts();" placeholder="Ex. ium">
                </mat-form-field> 
                <!-- <button mat-stroked-button (click)=" clearSelectedBroadcasts()">Clear Broadcasts</button>                  -->
                <mat-table #table [dataSource]="dataSource">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null; changeSelectedBroadcasts()"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        (ngModelChange)="changeSelectedBroadcasts()">
                          </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation();"
                                        (change)="$event ? selection.toggle(row) : null; changeSelectedBroadcasts()"
                                        [checked]="selection.isSelected(row)">
                          </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.broadcastName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="owner">
                        <mat-header-cell *matHeaderCellDef> Owner </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.owner}} </mat-cell>
                      </ng-container>

                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="time">
                      <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.time | date:'short'}} </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row);">
                    </mat-row>
                </mat-table>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>





