

<mat-card>
    <mat-card-content>
        <ng-template [ngIf]="geocoderFlag">
            <form [formGroup]="markerForm">
                <mat-form-field>
                    <input type="text" pattern="^\w+( \w+)*$" matInput placeholder="Collection" formControlName="collection" [matAutocomplete]="auto">           
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let collection of myMarkerCollection | async" [value]="collection.collectionName">
                        {{collection.collectionName}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <textarea matInput placeholder="Description"  formControlName="description"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Longitude" formControlName="longitude">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Lattitude" formControlName="lattitude">
                </mat-form-field>
                <mat-card-actions>
                    <button [disabled]="!markerForm.valid" (click)="addMarker()" mat-button color="primary">Save to Collection</button>
                </mat-card-actions>
                    <button (click)="this.data.changeGeocoderFlag(false)" mat-button color="warn">Cancel</button>
            </form>
        </ng-template>
        <ng-template [ngIf]="!geocoderFlag">
            <p style="text-align: center;">Search or Use Current Location to Add to a Collection.</p>
        </ng-template>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content> 
        <mat-form-field>
            <mat-label>My Collections</mat-label>
            <mat-select (selectionChange)="changeCollection($event)">
              <mat-option *ngFor="let user of following" [value]="user.uid">
                {{user.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div *ngIf="markerCollection | async as collections">
            <ng-template [ngIf]="(collections | json) == ([] | json)">
                <p style="text-align: center;">No Collections to Show.</p>
            </ng-template>
            <ng-template [ngIf]="(collections | json) != ([] | json)">
                <mat-selection-list #collectionList [(ngModel)]="selectedCollections" (ngModelChange)="changeSelectedCollections()">
                    <mat-list-option *ngFor="let name of collections" [value]="name">
                        {{name.collectionName}}
                    </mat-list-option>
                </mat-selection-list>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>
<br>

<div *ngIf="myMarkerCollection | async as collections">
    <ng-template [ngIf]="(collections | json) != ([] | json)">
        <mat-card>
            <mat-card-content>
                <div *ngIf="!editing" style="text-align: center;">
                    <button mat-stroked-button (click)="editCollections()">Edit My Collections</button>
                </div>
                <div *ngIf="editing" style="text-align: center;">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let collection of collections">
                            <mat-expansion-panel-header>
                              {{collection.collectionName}}
                            </mat-expansion-panel-header>
                            <mat-list-item *ngFor="let markers of collection | keyvalue">
                                <div *ngIf="collection[markers.key]['title']">
                                    <span mat-line>{{collection[markers.key].title}}</span>
                                    <button mat-stroked-button (click)="deleteCollectionMarker(collection.collectionName, markers.key)"><mat-icon>cancel</mat-icon></button>
                                    <br>
                                </div>
                                <div *ngIf="markers.key == 'collectionName'">
                                    <button mat-stroked-button (click)="deleteCollectionMarker(collection.collectionName, null)">Delete Collection</button>
                                </div>
                            </mat-list-item>
                          </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                    <button mat-stroked-button (click)="editCollections()">Close Editing</button>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>


