<mat-toolbar>
    <h1 style="text-align: center;">SocialMapp</h1>
</mat-toolbar>

<ng-template  [ngIf]="user.isLoggedIn && user.hasUsername">
    <mat-card>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="material-icons">
                        add_location
                    </span>                    
                </ng-template>
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            Collections
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <app-markercollection></app-markercollection>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              Broadcasts
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                       <app-markerbroadcast></app-markerbroadcast>
                      </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="material-icons">
                        group
                    </span>                
                </ng-template>
                <app-social></app-social>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <!-- <span class="material-icons" matBadge="15" matBadgeColor="warn"> 
                        
                    </span>   -->
                    <mat-icon [matBadge]="followRequestsCount" [matBadgeHidden]="followRequestsCount < 1" matBadgeColor="warn">account_circle</mat-icon>              
                </ng-template>
                <app-account-settings [account]="user.currentUser.uid"></app-account-settings>
                <app-user-login></app-user-login>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</ng-template>
<br>
<ng-template  [ngIf]="!user.isLoggedIn || !user.hasUsername">
    <mat-card>
        <app-user-login></app-user-login>
    </mat-card>
</ng-template>



