    <div *ngIf="!user.isLoggedIn">
        <h1>Please Login...</h1>
        <ngx-auth-firebaseui [guestEnabled]="false" [providers]="[providers.Google]" ></ngx-auth-firebaseui>
        <!-- <ngx-auth-firebaseui-providers layout="column" thene="outline" [providers]="[providers.Google]"></ngx-auth-firebaseui-providers> -->
    </div>

<div style="text-align: center;">
    <button   type="button" class="button"
    *ngIf="user.isLoggedIn"
    (click)="logout()">
     Logout
    </button>
</div>


<div style="text-align: center;" *ngIf="user.isLoggedIn && !user.hasUsername"> 

  <h3>Choose a Username</h3>

  <input type="text" class="input" placeholder="choose a username"
         [(ngModel)]="usernameText"
         (keyup)="checkUsername()">

  <p class="help is-success" *ngIf="usernameAvailable && usernameText">
    @{{usernameText}} is available
  </p>

  <p class="help is-danger" *ngIf="!usernameAvailable && usernameText">
    @{{usernameText}} has already been taken
  </p>

  <button class="button is-primary"
          [disabled]="!usernameAvailable || !usernameText"
          (click)="updateUsername()">

          Select Username

  </button>

</div>
